h1 {
    color: blue;
}

img {
    width: 250px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

body a {
    color: grey;
    text-decoration: none;
}

footer {
    display: flex;
    position: absolute;
    bottom: -200%;
}

